<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.53" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.3.0.53" targetFramework="net472" />
  <package id="Syncfusion.Pdf.AspNet" version="18.3.0.53" targetFramework="net472" />
</packages>